.container{
	background-color: #00d4a2;
	height: 100%;
	max-width: 800px;
}
html, body {
    height:100%;
    background-color: #00d4a2;
}
.button_container{
	display: flex;
	position: relative;
	top: 40%;
	transform: translateY(-60%);
	align-items: center;
  	display: flex;
 	justify-content: center;
}
.col-md-6{
	padding: 0px;
}
#roomBtn{
	width: 100%;
}
.inner-content{
	display: flex;
	position: relative;
	background-color: white;
	border-radius: 5px;
	border-color: #02b087;
	top: 10%;
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px;
}
#roomCode{
	align-items: center;
  	display: flex;
}

#backBtn{
	border-radius: 0px;
	border-bottom-right-radius: 5px;
	background-color: white;
	top: 0px;
	left: 0px;
	position: absolute;
	padding: 3px;
}

.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}