.container{
	background-color: #00d4a2;
	height: 100%;
	max-width: 800px;
}
html, body {
    height:100%;
    background-color: #00d4a2;
}
.button_container{
	display: flex;
	position: relative;
	top: 40%;
	transform: translateY(-60%);
	align-items: center;
  	display: flex;
 	justify-content: center;
}
.col-md-6{
	padding: 0px;
}
#roomBtn{
	width: 100%;
}
.inner-content{
	display: flex;
	position: relative;
	background-color: white;
	border-radius: 5px;
	border-color: #02b087;
	top: 10%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 8px;
}
#roomCode{
	align-items: center;
  	display: flex;
}

#backBtn{
	border-radius: 0px;
	border-bottom-right-radius: 5px;
	background-color: white;
	top: 0px;
	left: 0px;
	position: absolute;
	padding: 3px;
}

.grid td {
    padding: 0px;
    position: relative;
    border: none;
}
.grid div.clicked {
    background-color: black;
}
#qrCode{
	position: relative;
	overflow: visible;
	width: 100%;
	z-index: 5;
	left: 0%;
}
table{
	table-layout: fixed;
}

td {
  position: relative;
}

td > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

td:before {
  content: "";
  display: block;
  padding-top: 75%;
}

.whiteBlock{
	background-color: white;
}
.blackBlock{
	background-color: black;
}

.form-signin{
	width: 60%;
	margin: 0 auto;
}

.form-signin > input, .form-signin > button{
	margin: 10px;
}

@media only screen
and (min-device-width : 380px)
and (max-device-width : 580px) {
	td{
		font-size: xx-small;
	}
}